.single-connector-square {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-connector-circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: -50px;
}

.line {
    width: 100%;
    color: black;
    height: 1px;
    background-color: black;
    display: none;
    position: absolute;
    transform-origin: top left;
}